@import "./variables.scss";

body {
  margin: 0%;
  padding: 0%;
  border: 0;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#para {
  // display: none;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 1.2rem;
  width: 85vw;
  height: 85vh;
  border-radius: 15px;
  background-color: $bg-color;
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .heading {
      color: $primary-color;
      font-size: 4rem;
      font-weight: 900;
      letter-spacing: -4px;
    }
    .topIcon {
      display: flex;
      flex-direction: row;
      span {
        margin: 0 3px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: antiquewhite;
        cursor: pointer;
      }
      :first-child {
        background-color: #c4c4c4;
      }
      :nth-child(2) {
        background-color: #ffb906;
      }
      :last-child {
        background-color: #ff0606;
      }
    }
  }
  .formHolder {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    input {
      color: $secondary-color;
      font-size: 1.8rem;
      font-weight: 900;
    }
  }
  .splash {
    display: flex;
    flex-direction: column;
    height: 604px;
    .splashBg {
      position: relative;
      top: 35%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      :first-child {
        border-radius: 45% 40%;
        width: 278px;
        height: 320.81px;
        filter: blur(40px);
        transform: translateX(20%);
        background: #fc4b86;
      }
      :last-child {
        border-radius: 50% 40%;
        width: 212.62px;
        height: 255px;
        filter: blur(40px);
        transform: translateX(-20%);
        background: #ff8585;
      }
    }
    .deepgram {
      position: relative;
      transform: translateY(-20%);
      width: auto;
      height: 200px;
      z-index: 99;
      img {
        height: 80%;
        width: 100%;
      }
    }
  }
  .footer {
    display: flex;
    font-size: 1.7rem;
    color: $secondary-color;
    input {
      height: 70px;
      padding: 0.4rem 5rem 0.4rem 0.4rem;
      border: none;
      border-radius: 10px;
      font-size: 3rem;
      font-weight: 900;
      color: $bg-color;
      background-color: $primary-color;
    }
    h3 {
      padding-left: 1rem;
    }
  }
}
